@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600;700;900&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1.125rem;
  //   font-family: "Barlow", sans-serif;
  //   font-family: "Fraunces", serif;
}
