$learn-more-red: hsl(7, 99%, 70%);
$learn-more-yellow: hsl(51, 100%, 49%);
$graphic-design-cyan: hsl(167, 40%, 24%);
$photograpy-blue: hsl(198, 62%, 26%);
$footer-cyan: hsl(168, 34%, 41%);
$titles-blue: hsl(212, 27%, 19%);
$vd-grayish-blue: hsl(213, 9%, 39%);
$d-grayish-blue: hsl(232, 10%, 55%);
$grayish-blue: hsl(210, 4%, 67%);
$white: hsl(0, 0%, 100%);
